- block:
    - name: Include prompts
      import_tasks: prompts.yml

    - name: Network configured
      gce_net:
        name: "algo-net-{{ server_name }}"
        fwname: "algo-net-{{ server_name }}-fw"
        allowed: "udp:500,4500;tcp:22"
        state: "present"
        mode: auto
        src_range: 0.0.0.0/0
        service_account_email: "{{ service_account_email }}"
        credentials_file: "{{ credentials_file_path  }}"
        project_id: "{{ project_id }}"

    - name: "Creating a new instance..."
      gce:
        instance_names: "{{ server_name }}"
        zone: "{{ algo_region }}"
        machine_type: "{{ cloud_providers.gce.size }}"
        image: "{{ cloud_providers.gce.image }}"
        service_account_email: "{{ service_account_email }}"
        credentials_file: "{{ credentials_file_path }}"
        project_id: "{{ project_id }}"
        metadata: '{"ssh-keys":"ubuntu:{{ ssh_public_key_lookup }}"}'
        network: "algo-net-{{ server_name }}"
        tags:
          - "environment-algo"
      register: google_vm

    - name: Add the instance to an inventory group
      add_host:
        name: "{{ google_vm.instance_data[0].public_ip }}"
        groups: vpn-host
        ansible_ssh_user: ubuntu
        ansible_python_interpreter: "/usr/bin/python2.7"
        ansible_ssh_private_key_file: "{{ SSH_keys.private }}"
        algo_provider: "{{ algo_provider }}"
        algo_server_name: "{{ algo_server_name }}"
        algo_ondemand_cellular: "{{ algo_ondemand_cellular }}"
        algo_ondemand_wifi: "{{ algo_ondemand_wifi }}"
        algo_ondemand_wifi_exclude: "{{ algo_ondemand_wifi_exclude }}"
        algo_local_dns: "{{ algo_local_dns }}"
        algo_ssh_tunneling: "{{ algo_ssh_tunneling }}"
        algo_windows: "{{ algo_windows }}"
        algo_store_cakey: "{{ algo_store_cakey }}"
        IP_subject_alt_name: "{{ IP_subject_alt_name }}"

    - set_fact:
        cloud_instance_ip: "{{ google_vm.instance_data[0].public_ip }}"
  rescue:
    - debug: var=fail_hint
      tags: always
    - fail:
      tags: always
